<% if @identifiers.nil? %>
  <h3>No batch uploads present</h3>
<% else %>
  <% @identifiers.each do |id| %>
    <h3><%= id.identifier %></h3>
    <small>Updated <%= time_ago_in_words(id.updated_at) %> ago</small>
    | <%= link_to 'input again', input_path(identifier_name: id.identifier) %>
    <% if id.processing %>
      <blockquote>Processing, <%= link_to "Refresh", "" %> to check status.</blockquote>
    <% else %>
      <div class="table-div-400">
        <table class="table table-sm table-striped">
        <thead>
          <tr>
          <% ["Row", "Phone", "Email", "First", "Last"].each do |hdr| %>
            <th><%= hdr %></th>
          <% end %>
          </tr>
        </thead>
        <tbody>
        <% id.records.each do |rec| %>
          <tr>
          <% [rec.row, rec.phone, rec.email, rec.first, rec.last].each do |data| %>
            <td><%= data %></td>
          <% end %>
          </tr>
        <% end %>
        </tbody>
        </table>
      </div>
      <% if id.record_errors.length != 0 %>
        <p class="error-label"><%= id.record_errors.length %> Errors</p>
        <div class="table-div-200">
          <table class="table table-sm table-dark table-striped">
          <thead>
            <tr>
            <% ["Row", "Error"].each do |hdr| %>
              <th><%= hdr %></th>
            <% end %>
            </tr>
          </thead>
          <tbody>
          <% id.record_errors.each do |err| %>
            <tr>
              <% [err.row, err.text].each do |data| %>
                <td><%= data %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
          </table>
        </div>
      <% end %>
      <hr>
    <% end %>
  <% end %>
<% end %>