<section class="identifier-section">
  <h3><%= id.identifier %></h3>
  <small>Updated <%= time_ago_in_words(id.updated_at) %> ago</small> | 
  <% if id.processing %>
    Processing, <%= link_to "Refresh", "" %> to check status.
  <% else %>
    <%= link_to 'input again', input_path(identifier_name: id.identifier) %>
    <% if id.records.blank? %>
      <div class="id-inset">No valid records to display.</div>
    <% else %>
      <%= render 'shared/records_table', records: id.records %>
    <% end %>
    <% if !id.record_errors.blank? %>
      <%= render 'shared/record_errors_table', record_errors: id.record_errors %>
    <% end %>
    <hr>
  <% end %>
</section>