<%= link_to "Input File", new_record_path, class="btn btn-primary" %>
<br />
<table class="table table-bordered">
<thead>
  <tr>
    <th>Identifier</th>
    <th>Row</th>
    <th>Phone</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
</thead>
<tbody>
  <% @records.each do |record| %>
    <tr>
      <td><%= record.identifier %></td>
      <td><%= record.row %></td>
      <td><%= record.phone %></td>
      <td><%= record.email %></td>
      <td><%= record.first %></td>
      <td><%= record.last %></td>
    </tr>
  <% end %>
</tbody>
</table>
