<div class="well">
  <%= form_for @record, html: { multipart: true } do |f| %>
    <%= f.label :identifier %>
    <%= f.text_field :identifier %>
    <%= f.label :attachment, "CSV File:" %>
    <%= f.file_field :attachment %>
    <%= f.submit "Upload", class: "btn btn-primary" %>
  <% end %>
</div>